


<nav>
  <h4><a routerLink="">Landing Page</a></h4>
  <ol>

    <li><a routerLink="displayhelloworld">Hello World</a></li>
    <li><a routerLink="showhellobutton">Show Button</a></li>
    <li><a routerLink="displayname">Display Name</a></li>
    <li><a routerLink="counter">Counter</a></li>
    <li><a routerLink="simpleform">Simple Form</a></li>
    <li><a routerLink="userage">User Age</a></li>
    <li><a routerLink="usergreeting">Greetings</a></li>
    <li><a routerLink="calculator">Calculator</a></li>
    <li><a routerLink="textlength">Text length</a></li>
    <li><a routerLink="currencyconverter">Currency Converter</a></li>
    <li><a routerLink="evenoddchecker">EvenOdd Checker</a></li>
    <li><a routerLink="wordreverser">Word Reverser</a></li>
    <li><a routerLink="showdate">Show Date</a></li>
    <li><a routerLink="showusername">Show Username</a></li>
    <li><a routerLink="multiplicationtable">Multiplication Table</a></li>
    <li><a routerLink="simplelogin">Simple Login</a></li>
    <li><a routerLink="fahrenheittocelsius">Fahrenheit to Celsius</a></li>
    <li><a routerLink="bookmarklist">Bookmark List</a></li>
    <li><a routerLink="charactercounter">Character Counter</a></li>
    <li><a routerLink="palindromechecker">Palindrome Checker</a></li>
    <li><a routerLink="temperatureconverter">Temperature Converter</a></li>
    <li><a routerLink="shoppinglist">Shopping List</a></li>
    <li><a routerLink="factorialcalculator">Factorial Calculator</a></li>
    <li><a routerLink="todomanager">Todo Manager</a></li>
    <li><a routerLink="guessnumbergame">Guess Number Game</a></li>
    <li><a routerLink="wordcounter">Word Counter</a></li>
    <li><a routerLink="randomnumbergenerator">Random Number Generator</a></li>
    <li><a routerLink="multiplicationchecker">Multiplication Checker</a></li>
    <li><a routerLink="uppercaseconverter">Uppercase Converter</a></li>
    <li><a routerLink="wordshuffler">Word Shuffle</a></li>
    <li><a routerLink="bmisolver">BMI solver</a></li>


  </ol>
</nav>
<br><br>

<div class="container">
  <router-outlet></router-outlet>
</div>




